<template name="home">
<div class="jumbotron hero-unit span11">
	<div class="row">
		<div class="span5 offset1">
				<img src='img/screenshot.png' class="boxshadow">
				<p class="subtle">Seeing is believing - visualize the effects of your generosity.</p>
		</div>
		<div class="span5">
				<h2>Give to top-rated charities? You <em>are</em> making a difference!</h2>
				<p>Why don't you start measuring it? With <strong>Giving Counts</strong>, you can keep track of your donations and see charts and totals for the impact you're making. It's free!</p>
		</div>
	</div>
	{{#if UserId}}
		<a href='/dashboard' class='btn btn-primary'>Go to my dashboard</a>
	{{else}}
		<a href='/demo' class='btn btn-success'>Try the demo now!</a>
	{{/if}}
</div>
<div class="row centred">
	<div class="span3 offset1">
		<img src='img/blue-folder-icon.png' class="half-width-centered">
		<h3>Organize</h3>
		<p>Keep track of the charitable donations you make with our free web app. It's like keeping your own spreadsheet, but way more fun and powerful.</p>
	</div>
	<div class="span3">
		<img src='img/Pie-chart-icon.png' class="half-width-centered">
		<h3>Measure</h3>
		<p>You can't know for sure how well you're doing something until you start to measure it. See tables and charts representing the size and distribution of your donations so far.</p>
	</div>
	<div class="span3">
		<img src='img/App-share-manager-icon.png' class="half-width-centered">
		<h3>Give</h3>
		<p>"Giving" means transferring something, but money is just the beginning. What are your donations being turned into? Find out the effects your generosity is having in the real world, based on standard performance of your selected causes. </p>
	</div>
</div>
<div class="hero-unit span8 offset1">
	<h2>Is Giving Counts for me?</h2>
	<p>Since Giving Counts is just as much about effects as it is giving, at time of launch (21st April 2013) we only allow tracking of donations to the <a target="_blank" href="http://www.givewell.org/charities/top-charities">top charities recommended by GiveWell.org</a>. If you give to these charities, welcome aboard!</p>
	<p>The reason for this current restriction is that we incorporate the information GiveWell publishes after painstaking analysis into what returns can be expected from each dollar given to an organization. This is also the first version of the site, and we are launching early and depending on your feedback to shape its future, so let us know if this or anything else matters to you.</p>
	<p>In time, we hope to allow you to add your own causes so you can track all your donations here. You will have the option for these to be published for other users, if you can provide sufficient evidence of their efficacy.</p>
</div>
<div class="span9 offset1">
	<a href='/demo' class='btn btn-large btn-primary centered'>See for yourself by trying the demo</a>
</div>
</template>
