<template name="transaction">
{{> demo}}
<h1>{{Action}} donation</h1>
{{#if TransactionError}}
<div class="alert alert-error"><strong>Whoops!</strong> {{TransactionError}}</div>
{{/if}}
<div class="row">
	<div class="span8">
		<h2>Step 1: choose a cause</h2>
		{{> causes_info }}
	</div>
	<div class="span4">
		<h2>Step 2: enter a donation</h2>
		<form name="transaction">
		 {{#with Transaction}}
		    <label>
			 Amount
			 <div class="input-prepend">
				 <span class="add-on">$</span>
				 <input id="tranAmount" name="amount" value="{{amount}}" placeholder="E.g. 29.99" class="span2" type="text" {{#unless UserHasSelectedCause}}disabled{{/unless}}></input>
			 </div>
		    </label>
		    <label>
			 Date   
			 <input name="date" class="datepick" value="{{shortDate}}" placeholder="E.g. 12/31/2012" type="text" {{#unless UserHasSelectedCause}}disabled{{/unless}}></input>
		    </label>
		 {{/with}}
		    {{> live_effects }}
		    <br/>
		    <h2>Step 3: confirm</h2>
		    <a href='#' class='btn btn-success' id='doneBtn'>Add this donation</a>
		    <a href='#' class='btn' id='cancelBtn'>Cancel</a>
		  </form>
	  </div>
  </div>
</template>
